{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_edunet/footer

    Footer template

    Example context (json): {}
}}
<div id="top-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12">

                <section>
                    <div class="textblock" id="tab1">
                        <h2><a id="go1"></a>Verantwortlich</h2>
                        <p>Verantwortlich für diesen Internetauftritt ist Ralf Bultschnieder, <a
                                href="mailto:rb@jobnet.ag">rb@jobnet.ag</a>. Die Informationen auf diesen
                            Seiten wurden mit größter Sorgfalt zusammengestellt, dennoch können uns Fehler
                            unterlaufen sein. Wir freuen uns über jeden Hinweis, wenn wir etwas verbessern
                            können.</p>
                        <p>Alle Angaben zu Produkten und Dienstleistungen sind erst dann rechtlich
                            verbindlich, wenn sie Bestandteil eines schriftlichen Angebots oder Vertrags
                            geworden sind. Änderungen vorbehalten, sämtliche Produkte und Dienstleistungen
                            werden laufend weiterentwickelt.</p></div>
                </section>

                <section>
                    <div class="textblock" id="tab2">
                        <h2><a id="go2"></a>Disclaimer</h2>

                        <p>Um die Aktualität, Richtigkeit und Vollständigkeit der auf dieser Website
                            bereitgestellten Informationen sind wir bemüht, können allerdings dafür keine
                            Haftung übernehmen. Wir haften nicht für direkte oder indirekte Schäden,
                            einschließlich entgangener Gewinne, die aufgrund von Informationen entstehen,
                            die auf dieser Website bereitgehalten werden.</p>
                        <p>Gemäß § 36 Abs. 1 Verbraucherstreitbeilegungsgesetz (VSBG) möchten wir Sie darauf
                            hinweisen, dass wir weder verpflichtet sind noch uns bereit erklärt haben, an
                            Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
                            teilzunehmen.</p>
                        <strong><a
                                href="https://job-server.net/terms_of_use_applicant?sid=ms&amp;no_template=1&amp;no_navigation=1&amp;jobnews=1"
                                target="_blank">Datenschutzerklärung - bitte hier anklicken</a></strong>
                    </div>
                </section>

            </div>

            <div class="col-md-4 col-xs-12">
                <div class="textblock" id="tab0">
                    <h2><a id="go0"></a>Jobnet.AG</h2>
                    <p><strong>Sitz der Gesellschaft:<br></strong>Luisenstraße 41<br>10117 Berlin</p>
                    <p>Internet: <a target="_blank" href="http://www.jobnet.ag">www.jobnet.ag</a><br>zentrale E-Mail: <a
                            href="mailto:info@jobnet.ag">info@jobnet.ag</a></p>
                    <p><strong>Aufsichtsrat:</strong><br>Prof. Dr. Franz Egle (Vorsitzender)<br>Prof. Dr.
                        Joachim Thomas (Stellvertreter)<br>Prof. Dr. Klaus Zierer</p>
                    <p><strong>Vorstand:</strong><br>Dr. Christoph Wesselmann (Vorsitzender), <a
                            href="mailto:cw@jobnet.ag">cw@jobnet.ag</a><br>Ralf Bultschnieder, Dipl.-Kfm.
                        Dipl.-Volksw., <a href="mailto:rb@jobnet.ag">rb@jobnet.ag </a></p>
                    <p><strong>Handelsregister:</strong><br> Berlin Charlottenburg<br>HRB 163211 B</p>
                    <p><strong>Bankverbindung:</strong><br> Berliner Volksbank<br>IBAN: DE33 1009 0000 2518
                        3210 08<br>BIC: BEVODEBBXXX</p>
                    <p><strong>Finanzamt für Körperschaften IV Berlin:</strong><br> Steuernummer
                        30/366/32436<br>Umsatzsteuer-Identifikationsnummer DE 815533417</p>
                    <p><strong>AZAV-Zulassung nach §2 der Rechtsverordnung zum SGB III (AZAV):</strong><br>Zulassungsnummer:
                        535468 AZAV in den Standorten Berlin und Hamburg<br>Das Original-Zertifikat kann bei
                        der fachkundigen Stelle <a
                                href="https://www.mydqs.com/kunden/kundendatenbank.html?aoemydqs%5Baction%5D=singleView&amp;aoemydqs%5Bcompany_no%5D=535468&amp;cHash=6335aa1796de2d727502da495d1d1076"
                                target="_blank">DQS heruntergeladen werden</a>.</p>
                    <p>&nbsp;</p>


                </div>


            </div>
            <div class="col-md-4 col-xs-12">
                <div class="media-container">
                    <iframe src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Luisenstra%C3%9Fe+41,+10117+Berlin-Mitte&amp;aq=&amp;sll=53.557088,10.003296&amp;sspn=0.008871,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=Luisenstra%C3%9Fe+41,+10117+Berlin&amp;t=m&amp;z=14&amp;ll=52.522367,13.379918&amp;output=embed"
                            marginwidth="0" marginheight="0" scrolling="no" width="100%" height="350"
                            frameborder="0"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

{{{ output.standard_end_of_body_html }}}
