{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_edunet/footer

    Footer template

    Example context (json): {}
}}
<div id="top-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12">


                <section>
                    <div class="textblock" id="tab2">
                        <h2><a id="go2"></a>Заява про відмову від відповідальності</h2>

                        <p>Ми докладаємо зусиль для того, щоб інформація, зазначена на цьому веб-сайті, відповідала
                            дійсності та була актуальною і вичерпною. Незважаючи на це, ми не несемо жодної
                            відповідальності за ці дані. Ми не несемо відповідальності за пряму чи опосередковану
                            шкоду, включаючи втрачені прибутки, що спричинені інформацією, доступною на цьому
                            веб-сайті.</p>

                        <strong><a
                                href="https://job-server.net/terms_of_use_applicant?sid=ms_ua&amp;no_template=1&amp;no_navigation=1&amp;jobnews=1"
                                target="_blank">Політика конфіденційності - натисніть тут</a></strong>
                    </div>
                </section>

            </div>

            <div class="col-md-4 col-xs-12">
                <div class="textblock" id="tab0">
                    <h2><a id="go0"></a>Edunet.SCHOOL</h2>
                    <p>
                        Edunet.School - це продукт go4more.School компанії Workconsult</p>
                    <ul>
                        <li>Workconsult Украина:</li>
                        <li>ТОВ “Воркконсалт”</li>
                        <li>36000, Україна, м. Полтава, вул. Соборності, 50</li>
                        <li>Телефон: <a href="tel:+380667242986 " target="_blank">+380667242986 </a> | <a
                                href="tel:+380675867489 " target="_blank">+380675867489 </a></li>
                        <li>E-mail: <a href="mailto:info@workconsult.ua" target="_blank">info@workconsult.ua</a>
                        </li>
                        <li>Веб-сайт: <a href="https://www.workconsult.ua" target="_blank">www.workconsult.ua</a>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="col-md-4 col-xs-12">
                <div class="media-container">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.2155742813584!2d34.54310741545117!3d49.59368405660588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825738199c58d%3A0xa3c9ee86d4a15f0c!2z0K_Qt9GL0LrQvtCy0LDRjyDRiNC60L7Qu9CwIGdvNG1vcmUuU2Nob29sIFdvcmtjb25zdWx0ICjQktC-0YDQutC60L7QvdGB0LDQu9GCKQ!5e0!3m2!1sru!2sua!4v1585208552366!5m2!1sru!2sua"
                                width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{{ output.standard_end_of_body_html }}}
